<mat-list class="recent-projects" aria-label="Recent Projects">
  @if (isLoading) {
  <mat-list-item>
    <mat-spinner diameter="24"></mat-spinner>
  </mat-list-item>
  } @if (recentBooks$ | async; as books) {
  <!-- use the @for loop to iterate over this array -->
  @for (book of books; track book._id) {
  <mat-list-item lines="2">
    <span matListItemTitle>{{ book.title }}</span>
    <span matListItemLine
      >Added: {{ book.createdAt | date : 'mediumDate' }}</span
    >
  </mat-list-item>
  } } @else {
  <mat-list-item lines="1">
    <span matListItemTitle>No Recent Projects</span>
  </mat-list-item>
  }
</mat-list>
